.upload-table td {
    padding: 3px 15px !important;
    font-size: 13px;
}

.upload-table th {
    padding: 10px 15px !important;
    font-size: 14px;
    color: #aa7100;
}

.upload-table .amplify-select, .amplify-button, .amplify-input {
    font-size: 13px;
}
